/.deps
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.log
/config.status
/configure
/eng-fra.autobil.bin
/eng-fra.autolex.bin
/eng-fra.mode
/eng-fra.rlx.bin
/eng-fra.t1x.bin
/eng-fra.t2x.bin
/eng-fra.t3x.bin
/fra-eng.autobil.bin
/fra-eng.autolex.bin
/fra-eng.mode
/fra-eng.rlx.bin
/fra-eng.t1x.bin
/fra-eng.t2x.bin
/fra-eng.t3x.bin
/install-sh
/missing
/modes
/ap_include.am
/*.bin
/*.prob
/.test-*
